.math {
    text-align: left;
}

.eqno {
    float: right;
}

/* Center all figures and images */
figure, .figure, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Center figure captions */
figcaption, .caption {
    text-align: center;
}

/* Keep TOC captions aligned left */
.toctree-wrapper .caption, .toctree-caption {
    text-align: left;
}

/* size of the icon in the side toolbar */
.wy-side-nav-search img.logo {
    width: 150px !important;
    height: auto !important;
}